.body {
    color: red;
    margin: 0 auto;
    justify-content: center;
    align-items: center;  
    min-width: 100vh;;
 }

 #backg{
    background-image :  url('https://bit.ly/39qdmNO');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
 }
    .landing {
        text-align: center;
    }

     img {
            max-width: 100%;
            max-height: auto;
        }

        @media screen and (max-width: 800px) {

            .body, img, #backg,.landing  {
                width: 100%;
            } 
         }